<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Apps</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Apps I've built on the Apple AppStore and Google Play</p>
<div align="center">
    <p align="center">Eircode Finder</p>
    <a href='https://play.google.com/store/apps/details?id=dev.gregoryzuckerman.eircode&hl=en_IE&gl=IE&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
</div>
</div>